toml==0.10.2
fonttools==4.55.3
swig==4.3.0
torch==2.2.2
fsspec==2024.10.0
oauthlib==3.2.2
wandb==0.19.0
pytz==2024.2
tzdata==2024.2
pyasn1==0.6.1
networkx==3.1
nvidia-cusparse-cu12==12.1.0.106
pygame==2.3.0
optuna==4.1.0
sb3_contrib==2.4.0
AutoROM.accept-rom-license==0.6.1
SQLAlchemy==2.0.36
tinyscaler==1.2.8
pillow==10.4.0
zipp==3.20.2
decorator==4.4.2
typing_extensions==4.12.2
wheel==0.45.1
rsa==4.9
python-dateutil==2.9.0.post0
tcolorpy==0.1.6
huggingface-sb3==3.0
mpmath==1.3.0
annotated-types==0.7.0
numpy==1.26.4
tabledata==1.3.3
triton==2.2.0
Box2D==2.3.10
nvidia-cudnn-cu12==8.9.2.26
nvidia-nvtx-cu12==12.1.105
kiwisolver==1.4.7
AutoROM==0.6.1
ml_collections==0.1.1
proglog==0.1.10
Mako==1.3.8
pymunk==6.2.0
termcolor==2.4.0
absl-py==2.1.0
Werkzeug==3.0.6
gymnasium==1.0.0
pettingzoo==1.24.3
pydantic==2.10.3
nvidia-nvshmem-cu12==3.3.20
rlcard==1.0.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-cusparselt-cu12==0.7.1
mdurl==0.1.2
chess==1.9.4
requests-oauthlib==2.0.0
nvidia-cuda-cupti-cu12==12.1.105
filelock==3.16.1
open-spiel==1.4
eval_type_backport==0.2.0
nvidia-cuda-runtime-cu12==12.1.105
importlib_resources==6.4.5
imageio-ffmpeg==0.5.1
nvidia-cufile-cu12==1.13.1.3
nvidia-cufft-cu12==11.0.2.54
multi-agent-ale-py==0.1.11
markdown-it-py==3.0.0
wasabi==1.1.3
charset-normalizer==3.4.0
cycler==0.12.1
tqdm==4.67.1
idna==3.10
pyparsing==3.1.4
google-auth==2.37.0
protobuf==5.29.1
nvidia-cusolver-cu12==11.4.5.107
gitdb==4.0.11
smmap==5.0.1
MarkupSafe==2.1.5
docker-pycreds==0.4.0
greenlet==3.1.1
Farama-Notifications==0.0.4
pandas==2.0.3
mbstrdecoder==1.1.3
moviepy==1.0.3
setuptools==80.9.0
importlib_metadata==8.5.0
contourpy==1.1.1
psutil==6.1.0
nvidia-cublas-cu12==12.1.3.1
rl_zoo3==2.4.0
ale-py==0.10.1
packaging==24.2
tensorboard==2.14.0
DataProperty==1.0.1
requests==2.32.3
Shimmy==2.0.0
grpcio==1.68.1
huggingface-hub==0.26.5
platformdirs==4.3.6
cffi==1.17.1
PyYAML==6.0.2
GitPython==3.1.43
chardet==5.2.0
nvidia-cuda-nvrtc-cu12==12.1.105
certifi==2024.8.30
pycparser==2.22
tensorboard-data-server==0.7.2
pyasn1_modules==0.4.1
contextlib2==21.6.0
sentry-sdk==2.19.2
Jinja2==3.1.4
attrs==24.2.0
setproctitle==1.3.4
click==8.1.7
pip==25.3
opencv-python==4.10.0.84
pytablewriter==1.2.0
imageio==2.35.1
rich==13.9.4
scipy==1.10.1
Pygments==2.18.0
urllib3==2.2.3
cachetools==5.5.0
stable_baselines3==2.4.0
google-auth-oauthlib==1.0.0
colorlog==6.9.0
alembic==1.14.0
typepy==1.3.2
nvidia-nccl-cu12==2.19.3
sympy==1.13.3
pathvalidate==3.2.1
six==1.17.0
matplotlib==3.7.5
SuperSuit==3.9.3
Markdown==3.7
cloudpickle==3.1.0
nvidia-curand-cu12==10.3.2.106
pydantic_core==2.27.1
jaraco.collections==5.1.0
typing_extensions==4.12.2
wheel==0.45.1
jaraco.text==3.12.1
backports.tarfile==1.2.0
zipp==3.19.2
tomli==2.0.1
jaraco.context==5.3.0
autocommand==2.2.2
typeguard==4.3.0
more-itertools==10.3.0
jaraco.functools==4.0.1
packaging==24.2
inflect==7.3.1
platformdirs==4.2.2
importlib_metadata==8.0.0
